@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:300,400,500,700');

* {
    font-family: 'Roboto Mono', monospace;
    color: #eeeeee;
}

::-webkit-scrollbar {
    background-color: black;
    width: .6em
}

::-webkit-scrollbar-thumb:window-inactive,
::-webkit-scrollbar-thumb {
    background:  #666666;
}

/* Variables */
:root {
    --background-color: #f5f5f4;
    --text-color: #333;
    --window-border-radius: 6px;
    --font-size: 14px;
}

/* The arrow at the top of the window */
.header-arrow {
    position: absolute;
    top: 2px;
    left: 50%;
    margin-left: -5px;
    height: 10px;
    width: 10px;
    transform: rotate(45deg);
    background-color: #000;
}

.toolbar {
    box-shadow: none;
    background: black;
}

.toolbar-footer {
    border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.toolbar-header {
    /*background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);*/
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.title {
    color: rgba(255, 255, 255, 0.5);
}

.btn {
    background: black;
    border: 1px solid rgba(255, 255, 255, 0.15);
}

.btn-group .btn + .btn {
    border-left: 1px solid rgba(255, 255, 255, 0.15);
}

.window, .toolbar-header {
    border-top-left-radius: var(--window-border-radius);
    border-top-right-radius: var(--window-border-radius);
}

.window {
    position: absolute;
    top: 5px;
}

.window-content {
    width: 360px;
    background-color: black;
    overflow: auto;
}

.tab-group {
    border-top: none;
    border-bottom: none;
}

.tab-item {
    background: black;
    font-size: 12px;
    border-left: 1px solid #333333;
    transition: 0.2s;
    color: #999999;
}

.tab-item:hover {
    color: white;
    background: #171717;
}

.tab-item.active {
    color: white;
    background: black;
    border-bottom: 1px solid white;
}

.form-control {
    padding: 5px 10px;
    font-size: 13px;
    line-height: 1.6;
    background-color: #333333;
    border: 1px solid #666666;
    border-radius: 4px;
    outline: none;
}

table {
    width: 100%;
    font-size: 12px;
    color: #eeeeee;
}

thead {
    background-color: #333333;
}

tbody {
    background-color: #111111;
}

th {
    font-weight: normal;
    border-right: none;
    border-bottom: 1px solid #111111;
}

th,
td {
    width: 100%;
    padding: 6px 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.4;
}

th:last-child,
td:last-child {
    border-right: 0;
}

td a {
    display: block;
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

td a:hover {
    color: #5bd46d;
}

.container {
    position: relative;
    overflow: auto;
    width: 100%;
}

.row {
    width: 100%;
}

.table-striped tr:nth-child(even) {
    background-color: #222222;
}

.summary {
    width: 100%;
    text-align: center;
    margin: 16px auto auto;
    font-size: var(--font-size);
    font-weight: 300;
    color: var(--text-color);
}

#footer-link {
    padding-top: 8px;
    padding-left: 10px;
    font-size: calc(var(--font-size) - 4px);
    float: left;
    color: #666;
}

#footer-link a {
    color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
}

#dashboard {
    min-height: 80px;
}

#balance {
    color: #8BC34A;
    font-weight: 500;
    font-size: 24px;
    line-height: 24px;
}

#coin {
    height: 24px;
    clear: right;
    line-height: 24px;
    vertical-align: middle;
    margin-left: 4px;
}

#balance_label {
    color: #cccccc;
    font-weight: 400;
    font-size: 12px;
    margin: 0;
    padding: 0;
    clear: both;
}

#column-left {
    width: 70%;
}

#column-right {
    width: 30%;
    text-align: right;
}

#today_label {
    color: #cccccc;
    font-size: 12px;
}

.hint {
    color: #cccccc;
}

.tab-item {
    text-transform: capitalize;
}

#setup, #main, #balances, #workers, #credits {
    display: none;
}
