<div id="footer-link">Last update at <%= lastUpdate %></div>

<div class="toolbar-actions pull-right">
  <div class="btn-group">
    <button class="btn btn-default js-refresh-action">
      <span class="icon icon-arrows-ccw js-refresh-action" title="Refresh"></span>
    </button>

    <button class="btn btn-default js-settings-action">
      <span class="icon icon-cog js-settings-action" title="Settings"></span>
    </button>

    <button class="btn btn-default js-quit-action">
      <span class="icon icon-cancel js-quit-action" title="Quit"></span>
    </button>
  </div>
</div>