<table class="table-striped">
  <thead>
  <tr>
    <th>Coin</th>
    <th>Hashrate</th>
  </tr>
  </thead>
  <tbody>
    <% for (let worker of workers) { %>
      <tr>
        <td><%= worker.coin %></td>
        <td><%= worker.hashrate %></td>
      </tr>
    <% } %>
  </tbody>
</table>