<table class="table-striped">
  <thead>
  <tr>
    <th>Date</th>
    <th>Amount</th>
  </tr>
  </thead>
  <tbody>
  <% for (let worker of workers) { %>
  <tr>
    <td><%= worker.coin %></td>
    <td><%= worker.worker_data %></td>
  </tr>
  <% } %>
  </tbody>
</table>